<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.smhrd.database.MemberMapper">
  	<insert id="join" parameterType="com.smhrd.model.MavenMember">
  		insert into memberinfo values(#{id}, #{pw}, #{name} )
  	</insert>
  	
  	<select id="login" parameterType="com.smhrd.model.MavenMember" resultType="com.smhrd.model.MavenMember">
  		select * from memberinfo where id = #{id} and pw = #{pw}
  	</select>
  	
  	<update id="update" parameterType="com.smhrd.model.MavenMember">
  		update memberinfo set name = #{name} where id = #{id}
  	</update>
  	
  	<select id="idCheck" parameterType="com.smhrd.model.MavenMember" resultType="int">
  		select count(*) from memberinfo where id = #{id}
  	</select>  	
  
  </mapper>